/******************************
INDEX:
    00 - General
    01 - Typography
    02 - Text Color & Background Color
    03 - Background Position & Size
    04 - Helper class
    05 - Social icons
    06 - Header
    07 - Bootstrap Overwrite 
    08 - Swiper 
    09 - Scroll To Top 
    10 - Search Box
******************************/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

 :root {
     --pbmit-global-color:  #0dbcc0;
     /* --pbmit-global-color:  #ff5e15; */
     --pbmit-secondary-color: #09162a;
     /* --pbmit-secondary-color: #09162a; */
     --pbmit-light-color: #f7f9fa;
     --pbmit-white-color:#ffffff;
     --pbmit-blackish-color: #09162a;
     --pbmit-link-color-normal: #071323;
     --pbmit-link-color-hover:#ff5e15;
     --pbmit-global-color-rgb:rgb(255, 94, 21);
     --pbmit-secondary-color-rgb: rgb(9, 22, 42);
     --pbmit-responsive-breakpoint: 1200px;
     --pbmit-body-typography-font-family: 'Rubik', sans-serif;
     --pbmit-body-typography-variant: regular;
     --pbmit-body-typography-font-size: 15px;
     --pbmit-body-typography-line-height: 24px;
     --pbmit-body-typography-color: #525558;
     --pbmit-heading-typography-font-family:"Barlow Condensed",sans-serif;
     --pbmit-heading-color: #222222;
     --pbmit-heading-font-variant: 700;
     --pbmit-btn-typography-font-family:'Rubik', sans-serif;
     --pbmit-btn-typography-variant: 500;
     --pbmit-btn-typography-font-size: 13px;
     --pbmit-btn-typography-line-height: 26px;
	 --border-radius: 3px;
}
 