	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/01/2019 13:57
  	*/

	  @font-face {
		font-family: "Flaticon";
		src: url("../fonts/flaticon.eot");
		src: url("../fonts/flaticond41d.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/flaticon.woff2") format("woff2"),
			 url("../fonts/flaticon.woff") format("woff"),
			 url("../fonts/flaticon.ttf") format("truetype"),
			 url("../fonts/flaticon.svg#Flaticon") format("svg");
		font-weight: normal;
		font-style: normal;
	  }
	  
	  @media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
		  font-family: "Flaticon";
		  src: url("../fonts/flaticon.svg#Flaticon") format("svg");
		}
	  }
	  
	  [class^="pbmit-enginir-icon-"]:before, [class*=" pbmit-enginir-icon-"]:before,
	  [class^="pbmit-enginir-icon-"]:after, [class*=" pbmit-enginir-icon-"]:after {   
		font-family: Flaticon;
		font-style: normal;
	  }
	  
	.pbmit-enginir-icon-nuclear:before { content: "\f100"; }
	.pbmit-enginir-icon-users:before { content: "\f101"; }
	.pbmit-enginir-icon-calendar:before { content: "\f102"; }
	.pbmit-enginir-icon-calendar-1:before { content: "\f103"; }
	.pbmit-enginir-icon-headset:before { content: "\f104"; }
	.pbmit-enginir-icon-24-hours:before { content: "\f105"; }
	.pbmit-enginir-icon-email:before { content: "\f106"; }
	.pbmit-enginir-icon-placeholder:before { content: "\f107"; }
	.pbmit-enginir-icon-pin:before { content: "\f108"; }
	.pbmit-enginir-icon-call:before { content: "\f109"; }
	.pbmit-enginir-icon-smartphone:before { content: "\f10a"; }
	.pbmit-enginir-icon-smartphone-1:before { content: "\f10b"; }
	.pbmit-enginir-icon-placeholder-1:before { content: "\f10c"; }
	.pbmit-enginir-icon-mail:before { content: "\f10d"; }
	.pbmit-enginir-icon-newsletter:before { content: "\f10e"; }
	.pbmit-enginir-icon-branch:before { content: "\f10f"; }
	.pbmit-enginir-icon-gear:before { content: "\f110"; }
	.pbmit-enginir-icon-ar:before { content: "\f111"; }
	.pbmit-enginir-icon-crane:before { content: "\f112"; }
	.pbmit-enginir-icon-car:before { content: "\f113"; }
	.pbmit-enginir-icon-gear-1:before { content: "\f114"; }
	.pbmit-enginir-icon-tower:before { content: "\f115"; }
	.pbmit-enginir-icon-pollution:before { content: "\f116"; }
	.pbmit-enginir-icon-hook:before { content: "\f117"; }
	.pbmit-enginir-icon-architecture-and-city:before { content: "\f118"; }
	.pbmit-enginir-icon-oil:before { content: "\f119"; }
	.pbmit-enginir-icon-settings:before { content: "\f11a"; }
	.pbmit-enginir-icon-skyline:before { content: "\f11b"; }
	.pbmit-enginir-icon-helmet:before { content: "\f11c"; }
	.pbmit-enginir-icon-engineer:before { content: "\f11d"; }
	.pbmit-enginir-icon-cone:before { content: "\f11e"; }
	.pbmit-enginir-icon-drill:before { content: "\f11f"; }
	.pbmit-enginir-icon-roller:before { content: "\f120"; }
	.pbmit-enginir-icon-sketch:before { content: "\f121"; }
	.pbmit-enginir-icon-robotic-arm:before { content: "\f122"; }
	.pbmit-enginir-icon-customer-service:before { content: "\f123"; }
	.pbmit-enginir-icon-solar-panel:before { content: "\f124"; }
	.pbmit-enginir-icon-worker:before { content: "\f125"; }
	.pbmit-enginir-icon-cargo-ship:before { content: "\f126"; }
	.pbmit-enginir-icon-boat:before { content: "\f127"; }
	.pbmit-enginir-icon-engine:before { content: "\f128"; }
	.pbmit-enginir-icon-plane:before { content: "\f129"; }
	.pbmit-enginir-icon-blueprint:before { content: "\f12a"; }
	.pbmit-enginir-icon-excavator:before { content: "\f12b"; }
	.pbmit-enginir-icon-truck:before { content: "\f12c"; }
	.pbmit-enginir-icon-industry:before { content: "\f12d"; }
	.pbmit-enginir-icon-quality:before { content: "\f12e"; }
	.pbmit-enginir-icon-trophy:before { content: "\f12f"; }
	.pbmit-enginir-icon-plan:before { content: "\f130"; }
	.pbmit-enginir-icon-wrench:before { content: "\f131"; }
	.pbmit-enginir-icon-concrete-mixer:before { content: "\f132"; }
	.pbmit-enginir-icon-dump-truck:before { content: "\f133"; }
	.pbmit-enginir-icon-calendar-2:before { content: "\f134"; }
	.pbmit-enginir-icon-pdf:before { content: "\f135"; }
	.pbmit-enginir-icon-doc:before { content: "\f136"; }
	.pbmit-enginir-icon-news:before { content: "\f137"; }
    